<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
</head>
<body>

<h2>Welcome User!</h2>

<p>Your profile information:</p>

<ul>
    <li>Username: <span th:text="${user.username}"></span></li>
    <li>Name: <span th:text="${user.firstName + ' ' + user.lastName}"></span></li>
    <li>Age: <span th:text="${user.age}"></span></li>
    <li>
        Roles:
        <span th:each="role, rStat : ${user.roles}">
            <span th:text="${role.name.replace('ROLE_', '')}"></span>
            <span th:if="${!rStat.last}">, </span>
        </span>
    </li>
</ul>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
